@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2') format('woff2'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gvl:before {
  content: "\e91e";
}
.icon-facebook-new .path1:before {
  content: "\e900";
  color: rgb(51, 51, 51);
}
.icon-facebook-new .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-facebook-new .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-instagram-new .path1:before {
  content: "\e915";
  color: rgb(51, 51, 51);
}
.icon-instagram-new .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-instagram-new .path3:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-linkedin-new .path1:before {
  content: "\e918";
  color: rgb(51, 51, 51);
}
.icon-linkedin-new .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-linkedin-new .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-twitter-new .path1:before {
  content: "\e91b";
  color: rgb(51, 51, 51);
}
.icon-twitter-new .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-twitter-new .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-phone-2:before {
  content: "\e913";
}
.icon-pending:before {
  content: "\e912";
}
.icon-call-center:before {
  content: "\e911";
}
.icon-Desktop-Mobile:before {
  content: "\e90f";
}
.icon-passport:before {
  content: "\e90a";
}
.icon-error:before {
  content: "\e909";
}
.icon-price:before {
  content: "\e908";
}
.icon-large-phone:before {
  content: "\e90d";
}
.icon-ramadan:before {
  content: "\e904";
}
.icon-women-only:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-smallship:before {
  content: "\e901";
}
.icon-starburst:before {
  content: "\e910";
}
.icon-price-tag:before {
  content: "\e902";
}
.icon-location:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e907";
}
.icon-magazine:before {
  content: "\e90c";
}
.icon-pencil:before {
  content: "\e90e";
}
.icon-clapboard-play:before {
  content: "\e959";
}
.icon-book:before {
  content: "\e990";
}
.icon-bookmark:before {
  content: "\e994";
}
.icon-phone:before {
  content: "\ea1c";
}
.icon-phone-reciever:before {
  content: "\ea1d";
}
.icon-address-book:before {
  content: "\ea2b";
}
.icon-envelop1:before {
  content: "\ea34";
}
.icon-compass:before {
  content: "\ea42";
}
.icon-map-location:before {
  content: "\ea45";
}
.icon-mapfold:before {
  content: "\ea48";
}
.icon-bell2:before {
  content: "\ea58";
}
.icon-calendar:before {
  content: "\ea5f";
}
.icon-printer:before {
  content: "\ea69";
}
.icon-floppy-disk:before {
  content: "\ea89";
}
.icon-rotate-ccw:before {
  content: "\eaab";
}
.icon-redo:before {
  content: "\eac0";
}
.icon-user:before {
  content: "\eb08";
}
.icon-search:before {
  content: "\eb36";
}
.icon-zoom-in:before {
  content: "\eb38";
}
.icon-zoom-out3:before {
  content: "\eb39";
}
.icon-cog:before {
  content: "\eb61";
}
.icon-spoon-knife:before {
  content: "\ebbc";
}
.icon-tent:before {
  content: "\ebda";
}
.icon-bin:before {
  content: "\ebfd";
}
.icon-briefcase:before {
  content: "\ec03";
}
.icon-airplane:before {
  content: "\ec05";
}
.icon-menu:before {
  content: "\ec6d";
}
.icon-upload:before {
  content: "\ec7f";
}
.icon-earth1:before {
  content: "\ec97";
}
.icon-flag-festival:before {
  content: "\eca8";
}
.icon-bookmark1:before {
  content: "\ecb7";
}
.icon-sun:before {
  content: "\ecce";
}
.icon-moon:before {
  content: "\ecd0";
}
.icon-umbrella:before {
  content: "\ecd5";
}
.icon-bed2:before {
  content: "\ecdd";
}
.icon-star-empty:before {
  content: "\ece3";
}
.icon-star-half:before {
  content: "\ece4";
}
.icon-star-full:before {
  content: "\ece5";
}
.icon-heart-full:before {
  content: "\ecec";
}
.icon-heart-empty:before {
  content: "\eced";
}
.icon-thumbs-up:before {
  content: "\ecf8";
}
.icon-thumbs-down:before {
  content: "\ecf9";
}
.icon-stack-picture:before {
  content: "\ed3f";
}
.icon-warning:before {
  content: "\ed4f";
}
.icon-warning1:before {
  content: "\ed50";
}
.icon-notification:before {
  content: "\ed51";
}
.icon-question-circle:before {
  content: "\ed56";
}
.icon-plus3:before {
  content: "\ed5d";
}
.icon-plus-circle:before {
  content: "\ed61";
}
.icon-minus-circle2:before {
  content: "\ed62";
}
.icon-info2:before {
  content: "\ed64";
}
.icon-cross2:before {
  content: "\ed65";
}
.icon-cancel-full-circle:before {
  content: "\ed66";
}
.icon-cross21:before {
  content: "\ed6c";
}
.icon-cross:before {
  content: "\ed6d";
}
.icon-checkmark:before {
  content: "\ed6f";
}
.icon-checkmark4:before {
  content: "\ed72";
}
.icon-play-circle:before {
  content: "\ed7e";
}
.icon-chevron-up:before {
  content: "\edb8";
}
.icon-chevron-right:before {
  content: "\edbc";
}
.icon-chevron-down:before {
  content: "\edc0";
}
.icon-chevron-left:before {
  content: "\edc4";
}
.icon-arrow-up5:before {
  content: "\edc7";
}
.icon-arrow-right5:before {
  content: "\edc8";
}
.icon-carret-down:before {
  content: "\edc9";
}
.icon-arrow-left5:before {
  content: "\edca";
}
.icon-arrow-right8:before {
  content: "\edde";
}
.icon-arrow-left8:before {
  content: "\ede2";
}
.icon-circle-up1:before {
  content: "\ede7";
}
.icon-circle-right1:before {
  content: "\ede8";
}
.icon-circle-down1:before {
  content: "\ede9";
}
.icon-circle-left1:before {
  content: "\edea";
}
.icon-download-circle:before {
  content: "\edf0";
}
.icon-checkmark-circle:before {
  content: "\ee76";
}
.icon-mail4:before {
  content: "\eee5";
}
.icon-facebook-square:before {
  content: "\eef0";
}
.icon-instagram:before {
  content: "\eef1";
}
.icon-twitter:before {
  content: "\eef5";
}
